<!DOCTYPE html>
<html>
<head>
    <title>comment a post</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='post.css') }}">
</head>
<body>
<div id="root">
    <div class="inputcontent">

        <form method="post" action="{{ url_for('addcomment') }}">
            <div class="inputdata">
                <input type="text" hidden name="id" value="{{ id }}">

                <div class="disc">
                    <textarea required="required" placeholder="Description..." name="comment"></textarea>
                </div>

            </div>
            <button type="submit" class="add">+</button>
        </form>
        <a href="{{ url_for('home') }}">Home</a>
    </div>
</div>

</body>
</html>
