<!DOCTYPE html>
<html>
<head>
    <title>Post Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='post.css') }}">
</head>
<body>
<div id="root">
    <div class="inputcontent">
        {% for msg in get_flashed_messages() %}
            {% if msg %}
                <h2>{{ msg }}</h2>
            {% endif %}
        {% endfor %}
        <form method="post" action="{{ url_for('updatepost') }}">
            <div class="inputdata">

                <div class="title">
                    <input type="text" placeholder="Post Title" name="postitle" autoComplete="off"/>
                </div>

                <div class="disc">
                    <textarea placeholder="Description..." name="postdescription"></textarea>
                </div>
            </div>
            <button type="submit" class="add">+</button>
        </form>
        <a href="{{ url_for('home') }}">Home</a>
    </div>
</div>
</body>
</html>
